body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.sidebar{
position:fixed;
width:200px;
height:100vh;
background:#020617;
padding:20px;
}

.sidebar a{
display:block;
color:#22c55e;
margin:10px 0;
text-decoration:none;
}

.content{
margin-left:220px;
padding:30px;
}

.card{
background:#1e293b;
padding:20px;
margin:10px 0;
border-radius:10px;
}
