<!DOCTYPE html>
<html>

<head>

<title>Admin</title>

<style>

body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.top{

background:#020617;
padding:20px;

}

.main{

padding:40px;

}

.card{

background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:20px;

}

input{
padding:8px;
}

button{

background:#22c55e;
border:none;
padding:10px 20px;
color:white;

}

</style>

</head>

<body>

<div class="top">

<h2>Painel Admin</h2>

<a href="/dashboard">Voltar Dashboard</a>

</div>

<div class="main">

<div class="card">

<h3>Adicionar Créditos</h3>

<form action="/add_credit" method="post">

<input name="email" placeholder="email usuário">

<input name="value" placeholder="créditos">

<button>Adicionar</button>

</form>

</div>

<div class="card">

<h3>Usuários</h3>

{% for u in users %}

<p>

{{u}} | créditos: {{users[u]["credits"]}}

</p>

{% endfor %}

</div>

</div>

</body>
</html>
