<!DOCTYPE html>
<html>

<head>

<title>Comprar Créditos</title>

<style>

body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
padding-top:60px;
}

.plan{
background:#1e293b;
width:300px;
margin:auto;
padding:30px;
border-radius:10px;
}

a{
color:white;
}

</style>

</head>

<body>

<a href="/dashboard">⬅ Voltar ao Dashboard</a>

<h1>Comprar Créditos</h1>

<div class="plan">

<h2>1000 Créditos</h2>

<p>R$10</p>

<p>PIX:</p>

<h3>marzzowagner@gmail.com</h3>

<p>Após o pagamento envie o comprovante e login para:</p>

<b>marzzowagner@gmail.com</b>

</div>

</body>

</html>
