<!DOCTYPE html>
<html>

<head>

<title>Surf</title>

<style>

body{
margin:0;
background:black;
color:white;
text-align:center;
font-family:Arial;
}

iframe{
width:100%;
height:90vh;
border:none;
}

.timer{
background:#111;
padding:10px;
font-size:20px;
}

</style>

</head>

<body>

<div class="timer">
Próximo site em <span id="time">20</span> segundos
</div>

<iframe src="{{site[1]}}"></iframe>

<script>

let t = 20;

setInterval(function(){

t--;

document.getElementById("time").innerText = t;

if(t <= 0){

window.location="/visit/{{site[0]}}"

}

},1000);

</script>

</body>

</html>
